# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.lock
.vs/JasonTheEngine/v17/.suo
*.db
*.bin
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.idb
*.recipe
*.log
*.pdb
*.tlog
x64/Debug/JasonTheEngine.vcxproj.FileListAbsolute.txt
x64/Release/JasonTheEngine.vcxproj.FileListAbsolute.txt
*.db-shm
*.db-wal
*.opendb
